#baidu {
float: left;
margin-top: 27px;
margin-left: 520px;
height: 131px;
width: 375px;
}
#inputbar {
float: left;
height: 376px;
width: 1337px;
margin-top: 28px;
margin-left: 490px;
	}

#search {
 background-color: rgb(36, 144, 221);
border-bottom-color: rgb(36, 144, 221);
border-left-color: rgb(36, 144, 221);
border-right-color: rgb(36, 144, 221);
border-top-color: rgb(36, 144, 221);
color: rgb(255, 255, 255);
height: 29px;
width: 112px;
 }

#searchbox {
background: white;
height: 23px;
width: 461px;
	}
	
#searchnews {
float: left;
margin-left: 497px;
margin-top: 21px;
font-size: 14px;
font: -webkit-control;
margin-bottom: -15px;

	}
a {
font-size: medium;
}
ul
{
float: left;
list-style-type: none;
height: 208px;
width: 75px;
margin-left: 320px;
margin-top: -259px;
background: rgb(205, 205, 205);
}
li
{
margin-top: 5px;
}
li a:link,a:visited
{
font-weight:bold;
color:#FFFFFF;
background-color:#A0A0A0;
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
}
li a:hover,a:active
{
background-color:#A0A0A0;
}
.panel,.navigator
{
margin:0px;
padding:5px;
text-align:center;
background:#e5eecc;
border:solid 1px #c3c3c3;
}
.panel
{
height:120px;
display:none;
}
